<ng-form id="my-form" name="$ctrl.myForm">
   
     <ng-form name="myForm2">
		 <p>
		 <label>
			 Имя  
		 </label>
         <input type="text" name="field1" ng-model="$ctrl.name1">
		 <div ng-messages="$ctrl.myForm.myForm2.field1.$error">
			<span ng-message="validField">Не верно</span><br>
		</div>
		</p>
     </ng-form>
     <ng-form name="myForm3">
		 <p>
			 <label>
				 Фамилия 
			 </label>
			 <input type="text" name="field1" ng-model="$ctrl.name2">
			 <div ng-messages="$ctrl.myForm.myForm3.field1.$error">
				<span ng-message="validField">Не верно</span><br>
			</div>
		</p>
     </ng-form>
   <p>
      <label>Угадай имя</label>
      <input type="text" name="field1" ng-model="$ctrl.nameAsyn">
   </p>
   <div ng-messages="$ctrl.myForm.field1.$error">
      <span ng-message="$ctrl.myForm.field1.$panding">Ждите</span><br>
      <span ng-message="nameAsyn">Не угадал</span><br>
   </div>
   <p>
      <input type="button" value="Отправить" ng-click="$ctrl.setForm($ctrl.myForm)">
   </p>
</ng-form>