<div>
  <ol>
    <li ng-repeat='place in $ctrl.places'>
    <div>
      <img ng-src="{{place.img_url}}">
    </div>
    <div>
      <p ng-bind="place.price_formatted">
        
      </p>
      <p ng-bind="place.summary">
      </p>
    </div>
    </li>
  </ol>
  <ul class="pagination">
    <li>
      <a href aria-label="Previous" ng-click="$ctrl.previousPages()">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="page in $ctrl.service.numberPages"><a ng-bind="page" ui-sref=""></a></li>
    <li>
      <a href aria-label="Next" ng-click="$ctrl.nextPages()">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>