#container
{
	position:relative;
	width:1200px;
	margin:auto;
	border:1px solid black;
	min-height:1000px;
}
#left_column
{
	width:600px;
	min-height:1000px;
	position:relative;
	float:left;
}
#img_container
{
	position:relative;
	float:left;
	width: 600px;
	min-height:773px;
	background: url(img/polka.jpg); 
}
.books_prop
{
	position:relative;
	width:120px;
	height:150px;
	/*border:1px solid black;*/
	margin:10px;
	float:left;
}
.polk_images
{
	width:110px;
	height:140px;
	margin:5px;
}
#right_column
{
	width:570px;
	position:relative;
	float:left;
}
#books_container
{
	width:550px;
	min-height:600px;
	margin-top:15px;
	border:1px solid red;
	float:left;
}
#recepts
{
	position:relative;
	float:left;
	width:200px;
	min-height:200px;
	border:1px solid green;
}
#all_recepts
{
	width:200px;
	min-height:200px;
	position:relative;
	float:left;
}
#add_book
{
	width:600px;
	/*min-height:300px;*/
	background:1px solid  blue;
	position:relative;
	float:left;
}