<div id="task-list" tasks-list="taskCtrl.taskData">
    <h2>Todo</h2>
  <span> {{taskCtrl.selTask().count}} of remaining {{taskCtrl.selTask().length}}</span>
  [ <a href="" ng-click="taskCtrl.delTask()">archive</a> ]
  <ul class="unstyled">
    <li ng-repeat="task in taskCtrl.tasksData.data.todos">
      <label class="checkbox">
        <input type="checkbox" ng-model="task.done">
        <span class="done">{{task.title}}</span>
      </label>
    </li>
  </ul>
  <form >
    <input type="text"   size="30" ng-model="taskCtrl.task"
           placeholder="add new todo here">
    <input class="btn-primary" type="submit" value="add" ng-click="taskCtrl.addTask()">
  </form>
</div>