<div id="task-list">
  <h1>Tasks</h1>
  <input type="text" size="30" ng-model="searchTask.title"
           placeholder="search your task">
  <br>
  <p>
        Sort by:
        <select ng-model="taskCtrl.orderProp">
          <option value="title">Title</option>
          <option value="done">Done</option>
        </select>
  </p>
  <span> {{taskCtrl.select().count}} of remaining {{taskCtrl.countInfo.length}}</span>
  [ <a href="" ng-click="taskCtrl.delete()">archive</a> ]
  <ul class="example-animate-container">
    <li class="animate-repeat" ng-repeat="task in taskCtrl.tasksData.data.todos|filter:searchTask|orderBy:taskCtrl.orderProp">
      <label class="checkbox" special-text>
        <input  type="checkbox" ng-model="task.done">
        <span class="done">{{task.title}}</span>
      </label>
    </li>
  </ul>
  <form >
    <input type="text" size="30" ng-model="taskCtrl.task"
           placeholder="add new todo here">
    <input class="btn-primary" type="submit"  value="add" ng-click="taskCtrl.adding()">
  </form>
</div>