* { 
    font-size: 100%; 
    padding: 1px; 
    margin: 1px; 
} 
h1{
  font-size: 25px;
}
.container{
   position:relative;
   width: 1050px;
   margin:auto;
}
#header-button{
  width:100%;
  margin-left:400px;

}

#header-info{
  position:relative;
  float:left;
  padding:5px;
  min-width:150px;
}

#task-list{
   position:relative;
   float:left;
   width:300px;
   margin-left:15px;
   padding:5px;
}
#meet-list{
   position:relative;
   padding:5px;
   float:left;
   width:300px;
}
#archive{
	  position:relative;
    float:left;
    width:200px;
}
#container-left{
  position: :relative;
  float:left;
  width:200px;
}
#container-right{
  position: :relative;
  float:left;
  width:800px;
}
.header_info li{
  display: inline;
  margin-left:50px;
}
