<h1>Hero Detail {{currentHero.name}} </h1>
<div class="hero">
    <div class="hero_image_container">
        <img calss="hero_image" [src]="currentHero.image">
    </div>
    <div class="hero_info">
        <div class="panel panel-default">
            <div class="panel-heading">Story</div>
            <div class="panel-body">
                {{currentHero.story}}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Skills</div>
                <div class="panel-body">
                    <div class="hero_skill" *ngFor="let skill of skills; let i = index">
                    <p>
                        Caption: {{skill.skill.name}}
                    </p>
                    <p>
                        Damage
                    </p> 
                    <div class="damage">
                        <div class="progress">
                            <div class="progress-bar" 
                                role="progressbar" 
                                aria-valuenow="60" 
                                aria-valuemin="0" 
                                aria-valuemax="100"
                                [ngStyle]="damage[i]">
                                {{skill.skill.damage}}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>