<div class="container_teams">
    <div class="row">
        <div class="radiant_team clearfix col-md-6">
            <h3>You have {{heroes.length}} heroes</h3>
            <div class="row">
                <div class="col-sm-6 col-md-2 navigation"
                  (click)="back()"
                  [ngStyle]="leftArrowStyle">
                    <md-icon class="size-icon">chevron_left</md-icon>
                </div>
                <div class="col-sm-6 col-md-2 hero" 
                    *ngFor="let hero of heroes | slice: start: end; let i=index">
                    <div class="thumbnail" 
                         animate>
                        <img [src]="heroes[i+shift].image">
                        <div class="caption">
                            {{heroes[i+shift].name}}
                        </div>
                    </div>
                    <button md-raised-button *ngIf="isSquad[i]" (click)="addToSquad(i)"> Aadd tosquad </button>
                    <button md-raised-button *ngIf="!isSquad[i]" (click)="removeOfSquad(i)"> Aadd tosquad </button>
                    <button md-raised-button (click)="toInfo(i)"> Info </button>
                </div>
                <div class="col-sm-6 col-md-2 navigation" 
                    (click)="next()"
                    [ngStyle]="rightArrowStyle">
                        <md-icon class="size-icon right">chevron_right</md-icon>
                </div>
            </div>
        </div>
        <div class="info"></div>
            <div class="dire_team clearfix col-md-6">
                <div class="boss">
                    <img [src]="bigBosses[0].image">
                </div>
            </div> 
    </div>  
</div>

<router-outlet></router-outlet>