.hero {
    padding-right: 5px;
    z-index: 100;
}
.hero img {
    width: 100%;
}
.thumbnail {
    min-height: 150px;
}
.thumbnail img {
    height: 100px;
}
.radiant_team {
    height: 200px;
}
.radiant_team h3 {
    text-align: center;
}
.navigation .md-button-focus-overlay {
    background-color: transparent;
}
.size-icon {
    font-size: 150px;
    display: block;
}
.right {
    margin-left:-50px;
}
.navigation {
    user-select: none;
}
.boss img {
    float: right;
    width: 40%;
}
