<div class="container">
    <h1>Big BOSS</h1>
    <form [formGroup]="signUpForm">
      <div class="form-group">
        <label for="name">E-mail</label>
        <div>
          <input class="form-control" formControlName="name" required >
          <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
          </div>
        </div>
        <div>
          <input class="form-control" formControlName="story" required >
          <div *ngIf="formErrors.story" class="alert alert-danger">
            {{ formErrors.story }}
          </div>
        </div>
      </div>
      <button (click)="test()">Check errors</button>
    </form>
</div>