.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.container {
  float: left;
}
.form_input_container {
  width: 40%;
}
.alert {
  width: 30%;
  margin-bottom: 0px;
  padding: 6px;
}
.form_input {
  margin-top: 25px;
  width: 100%;
}
.form_input >* {
  display: inline-block;
}