<div>
  <form>
    <md-input-container>
        <input type="text" ng-model="$ctrl.place" required placeholder="Place">
        <button md-button 
                ng-click="$ctrl.getDataPlace()"
                class="md-raised md-primary">
                Go
        </button>
        <button md-button 
                ng-click="$ctrl.getDataLocation()"
                class="md-raised md-primary">
                My Location
        </button>
    </md-input-container>
  </form>
  <div>
  <p ng-show="$ctrl.service.showLoaded" ng-bind="$ctrl.service.myAlert"> 
    
  </p>
  <ul>
    <li ng-repeat="history in $ctrl.service.historySearch">
      <a ui-sref="search" 
         ng-click="$ctrl.getHistoryState($index)" 
         ng-bind-template="Search # {{$index + 1}} ({{history.count}}) ">
      </a>
    </li>
  </ul>
  </div>
</div>