@import url('~@angular/material/core/theming/prebuilt/deeppurple-amber.css');
@import url('~bootstrap/dist/css/bootstrap.min.css');
body {
    margin: 15px;
}
li {
    list-style-type: none;
}
img {
    max-width: 100%;
}
* {
    box-sizing: border-box;
}